<section class="introduction-page">
  <p-card header="Introducció">
    @if (loading()) {
      <div class="loading-wrapper">
        <p-progressSpinner ariaLabel="Carregant introducció"></p-progressSpinner>
      </div>
    } @else if (error()) {
      <p class="error-message">{{ error() }}</p>
    } @else {
      <div class="introduction-text">
        {{ introductionText() }}
      </div>
    }

    <ng-template pTemplate="footer">
      <button pButton type="button" label="Començar investigació" icon="pi pi-arrow-right" (click)="continueToGame()"></button>
    </ng-template>
  </p-card>
</section>
