.layout-topbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  height: 4rem;
  left: 0;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1100;
}

.app-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 4.5rem;
  pointer-events: none;
  user-select: none;
}

.layout-topbar-actions {
  display: flex;
  justify-content: flex-end;
  min-width: 2.5rem;
}
